@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
html { overflow-x: hidden; }
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.head .user .content .footer{
    position: relative;
}
.contentBlock{
    margin: 10px;
}